*:not(.fab){
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --color1: #fff;
    --color2: #191919;
    --color3: #b4b4b4;
    --color4: #ff2121;
    --color5: #d20000;
    --color6: #1a3d69;
}

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; 
    opacity: 0;   
    z-index: -1;
    background-color: var(--color2);
    transition: opacity 0.25s ease-out;
}

.header {
    background-color: var(--color1);
    z-index: 1000;
    position: sticky;
    top: 0;
    margin: 0 auto;
    width: 100%;
    box-shadow: 0 0 5px var(--color3);
}

.header-container{
    display: flex;
    width: 90%;
    margin: 0 auto;  
}

.nav-logo {
    padding: 5px 0;
    display: flex;
    border-bottom: 0.5px solid var(--color3);
    justify-content: center;
    width: 100%;
    > a > img {
        width: 100px; 
        margin: 5px;   
    }
}

.nav-items-container{
    display: flex;
    justify-content: left;
    width: 100%;
    > .car-type, .hidden-menu{
        padding: 23px 10px 10px;
        font-size: 14px;
    }
    > .menu{
        display: flex;
        > .nav-item{
            padding: 23px 10px 10px;
            font-size: 14px;
        }
    }
}

.car-type > .nav-link::after{
    content: "";
    border: 0.5px solid var(--color2);
    margin-left: 26px;
}

.nav-item:hover, .hidden-menu:hover{
    color: var(--color4);
    > .drop{
        color: var( --color2 );
        display: flex;
        flex-direction: column;
        white-space: nowrap;
    }
}

.nav-item, .hidden-menu {
    position: relative;
    > .drop{
        display: none;
        position: absolute;
        top: 100%;
        left: -5%;
        background-color: var(--color1);
        border: 0.5px solid var(--color3);
        > div{  
            > a{        
                margin: 0 10px;
                padding: 15px 0;
                text-align: left;
                border-bottom: 0.5px solid var(--color3);            
                transition: 0.1s ease-out;  
            }
        }
    }    
    > .drop div:hover{
        background-color: var(--color5);
        color: var(--color1);
    }
}

.hidden-menu {
    display: none;
    position: relative;
    > .drop{
        display: none;
        position: absolute;
        top: 100%;
        left: -5%;
        background-color: var(--color1);
        border: 0.5px solid var(--color3);
        > div{  
            > a{        
                margin: 0 15px;
                padding: 30px 30px 10px 0;
                text-align: left;
                border-bottom: 0.5px solid var(--color3);            
                transition: 0.1s ease-out; 
            }
            .side{
                display: none;
                position: absolute;
                top: 0;
                left: 100%;
                background-color: var(--color1);
                border: 0.5px solid var(--color3);
                color: var(--color2);
                > div > a{
                    margin: 0 15px;
                    padding: 10px 0;
                    text-align: left;
                    border-bottom: 0.5px solid var(--color3);            
                    transition: 0.1s ease-out;
                }
            }
        }
        > div:hover .side{
            display: block;
        }
    }    
    > .drop > div:hover{
        background-color: var(--color5);
        color: var(--color1);
    }
}

.car-type{
    position: relative;
}
.car-type:hover .car-drop{
    display: block;
}

.car-drop{
    display: none;
    position: absolute;
    top: 100%;
    left: -5%;
    background-color: var(--color1);
    border: 0.5px solid var(--color3);
    color: var(--color2);
}

.car-drop img{
    width: 100px;
    height: auto;
}

.car-drop-item a{
    border-bottom: 0.5px solid var(--color3); 
    display: flex;
    margin: auto 30px;
    padding: 15px 0;
}

.car-drop-item span{
    margin-top: .625em;
    display: inline-block;
    vertical-align: auto;
    line-height: 3.43;
    width: 100%;
    padding-right: 30px;
}

.car-drop-item:hover{
    background-color: var(--color5);
    color: var(--color1);
}

@media screen and ( max-width : 991px ){
    .menu .nav-item{
        display: none;
    }
    .hidden-menu{
        display: block;
    }

    .car-drop-item span{
        padding: 0;
    }
}