.swiper-main{
    margin: 0 auto;
    width: 100%;
}

[class *= 'slide']{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.slide1{
    background-image: url('../img/ai-generated-8167563.jpg');
}

.slide2{
    background-image: url('../img/automobile-3095196.jpg');
}

.slide3{
    background-image: url('../img/porsche-4815232.jpg');
}

.slide4{
    background-image: url('../img/porsche-targa-1410900.jpg');
}

.slide5{
    background-image: url('../img/sport-car-705918.jpg');
}

.swiper-main:hover .swiper-button-next,
.swiper-main:hover .swiper-button-prev {
    opacity: 1;
}

.swiper-button-next, 
.swiper-button-prev {
    color: var(--color1) !important;
    opacity: 0; 
    transition: opacity 0.5s ease-in-out;
}

.swiper-pagination .swiper-pagination-bullet {
    background-color: var(--color3); 
    margin: 0 8px !important;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--color1); 
}

@media screen and ( min-width : 991px ){
    .swiper-main{
        height: 600px;
        transition: height 1.5s ease-in-out;
    }
}

@media screen and ( max-width : 991px ){
    .swiper-main{
        height: 450px;
        transition: height 1.5s ease-in-out;
    }
}

@media screen and ( max-width : 749px ){
    .swiper-main{
        height: 300px;
        transition: height 1.5s ease-in-out;
    }
}



